<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>{{_i}}Plus Components{{/i}}</h1>
    <p class="lead">{{_i}}Various components like the ones used by Google+.{{/i}}</p>
  </div>
</header>

  <div class="container">




    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#cards-news"> {{_i}}News Cards{{/i}}</a></li>
          <li><a href="#cards-people"> {{_i}}People Cards{{/i}}</a></li>
          <li><a href="#cards-hovercard"> {{_i}}People Hover Cards{{/i}}</a></li>
          <li><a href="#navbar-notification"> {{_i}}Navbar Notifications{{/i}}</a></li>
        </ul>
      </div>
      <div class="span9">



        <!-- News Cards
        ================================================== -->
        <section id="cards-news">
          <div class="page-header">
            <h1>{{_i}}News Cards{{/i}}</h1>
             <p>{{_i}}Use the News Cards to show informative text, news, media or other content; optionally you can add a collapsible section to display user comments.{{/i}}</p>
             <p>{{_i}}News Cards have no fixed width, so it is best to include them under a span column or a fixed-width container element.{{/i}}</p>
          </div>

          <h2>{{_i}}Example{{/i}}</h2>
          <div class="bs-docs-example" style="background-color: #E5E5E5;">
            
            <div class="row">
               <div class="span4">

                  <div class="card">
                     <h3 class="card-heading simple">Simple News Card</h3>
                     <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <p>
                     </div>
                     <div class="card-comments">
                        <div class="comments-collapse-toggle">
                           <a data-toggle="collapse" data-target="#c1-comments" href="#c1-comments">34 comments <i class="icon-angle-down"></i></a>
                        </div>
                        <div id="c1-comments" class="comments collapse">
                           <div class="media">
                              <a class="pull-left" href="#">
                                 <img class="media-object" data-src="holder.js/28x28" alt="avatar"/>
                              </a>
                              <div class="media-body">
                                 <h4 class="media-heading">Comment title</h4>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>


                  <div class="card">
                     <div class="card-heading image">
                        <img src="holder.js/46x46" alt=""/>
                        <div class="card-heading-header">
                           <h3>Simple News Card</h3>
                           <span>Published today - 08.34 AM</span>
                        </div>
                     </div>
                     <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. 
                        </p>
                     </div>
                     <div class="card-media">
                        <a class="card-media-container" href="#">
                           <img src="holder.js/500x300/social" alt="media"/>
                        </a>
                     </div>
                     <div class="card-actions">
                        <button class="btn">+1</button>
                        <button class="btn">Share</button>
                     </div>
                  </div>

               </div>
            </div>



          </div>{{! /example }}
<pre class="prettyprint linenums">
&lt;div class="card"&gt;
   &lt;h3 class="card-heading simple"&gt;Simple News Card&lt;/h3&gt;
   &lt;div class="card-body"&gt;
      ...
   &lt;/div&gt;
   &lt;div class="card-comments"&gt;
      &lt;div class="comments-collapse-toggle"&gt;
         &lt;a data-toggle="collapse" data-target="#c1-comments" href="#c1-comments"&gt;34 comments &lt;i class="icon-angle-down"&gt;&lt;/i&gt;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div id="c1-comments" class="comments collapse"&gt;
         &lt;div class="media"&gt;
            &lt;a class="pull-left" href="#"&gt;
               &lt;img class="media-object" data-src="holder.js/28x28" alt="avatar"/&gt;
            &lt;/a&gt;
            &lt;div class="media-body"&gt;
               &lt;h4 class="media-heading"&gt;Comment title&lt;/h4&gt;
               &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...&lt;/p&gt;
            &lt;/div&gt;
         &lt;/div&gt;
      &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;



&lt;div class="card"&gt;
   &lt;div class="card-heading image"&gt;
      &lt;img src="holder.js/46x46" alt=""/&gt;
      &lt;div class="card-heading-header"&gt;
         &lt;h3&gt;Simple News Card&lt;/h3&gt;
         &lt;span&gt;Published today - 08.34 AM&lt;/span&gt;
      &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class="card-body"&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
      &lt;/p&gt;
   &lt;/div&gt;
   &lt;div class="card-media"&gt;
      &lt;a class="card-media-container" href="#"&gt;
         &lt;img src="holder.js/500x300/social" alt="media"/&gt;
      &lt;/a&gt;
   &lt;/div&gt;
   &lt;div class="card-actions"&gt;
      &lt;button class="btn"&gt;+1&lt;/button&gt;
      &lt;button class="btn"&gt;Share&lt;/button&gt;
   &lt;/div&gt;
&lt;/div&gt;
</pre>
        </section>





        <!-- People Cards
        ================================================== -->
        <section id="cards-people">
          <div class="page-header">
            <h1>{{_i}}People Cards{{/i}}</h1>
             <p>{{_i}}People Cards are used to display user informations, within avatar and an image thumbnail.{{/i}}</p>
          </div>

          <h2>{{_i}}Example{{/i}}</h2>
          <div class="bs-docs-example" style="background-color: #E5E5E5;">

                  <div class="card people">
                     <div class="card-top green">
                        <a href="#">
                           <img src="assets/img/silhouette_homer.png" alt=""/>
                        </a>
                     </div>
                     <div class="card-info">
                        <a class="title" href="#">Homer Simpson</a>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                     </div>
                     <div class="card-bottom">
                        <button class="btn btn-block">Follow</button>
                     </div>
                  </div>


                  <div class="card people">
                     <div class="card-top blue">
                        <a href="#">
                           <img src="assets/img/silhouette_bart.png" alt=""/>
                        </a>
                     </div>
                     <div class="card-info">
                        <a class="title" href="#">Bart Simpson</a>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                     </div>
                     <div class="card-bottom">
                        <button class="btn btn-block">Follow</button>
                     </div>
                  </div>


                  <div class="card people">
                     <div class="card-top green">
                        <a href="#">
                           <img src="assets/img/silhouette_lisa.png" alt=""/>
                        </a>
                     </div>
                     <div class="card-info">
                        <a class="title" href="#">Lisa Simpson</a>
                        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                     </div>
                     <div class="card-bottom">
                        <button class="btn btn-block">Follow</button>
                     </div>
                  </div>


          </div>{{! /example }}
<pre class="prettyprint linenums">
&lt;div class="card people"&gt;
   &lt;div class="card-top green"&gt;
      &lt;a href="#"&gt;
         &lt;img src="assets/img/silhouette_homer.png" alt=""/&gt;
      &lt;/a&gt;
   &lt;/div&gt;
   &lt;div class="card-info"&gt;
      &lt;a class="title" href="#"&gt;Homer Simpson&lt;/a&gt;
      &lt;div class="desc"&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/div&gt;
   &lt;/div&gt;
   &lt;div class="card-bottom"&gt;
      &lt;button class="btn btn-block"&gt;Follow&lt;/button&gt;
   &lt;/div&gt;
&lt;/div&gt;
</pre>
        </section>



        <!-- Hover People Cards
        ================================================== -->
        <section id="cards-hovercard">
          <div class="page-header">
            <h1>{{_i}}People Hover Cards{{/i}}</h1>
             <p>{{_i}}Also this cards display user infos, but usually are displayed by hovering an element in the page.{{/i}}</p>
          </div>

          <h2>{{_i}}Example{{/i}}</h2>
          <div class="bs-docs-example" style="background-color: #E5E5E5;">

            <div class="card hovercard">
               <img src="assets/img/the-simpsons.png" alt=""/>
               <div class="avatar">
                  <img src="assets/img/avatar_homer.png" alt="" />
               </div>
               <div class="info">
                  <div class="title">
                     Titolo
                  </div>
                  <div class="desc">Lorem ipsum</div>
                  <div class="desc">Lorem ipsum</div>
                  <div class="desc">Lorem ipsum</div>
               </div>
               <div class="bottom">
                  <button class="btn">Add</button>
               </div>
            </div>

          </div>{{! /example }}
<pre class="prettyprint linenums">
&lt;div class="card hovercard"&gt;
   &lt;img src="assets/img/the-simpsons.png" alt=""/&gt;
   &lt;div class="avatar"&gt;
      &lt;img src="assets/img/avatar_homer.png" alt="" /&gt;
   &lt;/div&gt;
   &lt;div class="info"&gt;
      &lt;div class="title"&gt;
         Titolo
      &lt;/div&gt;
      &lt;div class="desc"&gt;Lorem ipsum&lt;/div&gt;
      &lt;div class="desc"&gt;Lorem ipsum&lt;/div&gt;
      &lt;div class="desc"&gt;Lorem ipsum&lt;/div&gt;
   &lt;/div&gt;
   &lt;div class="bottom"&gt;
      &lt;button class="btn"&gt;Add&lt;/button&gt;
   &lt;/div&gt;
&lt;/div&gt;
</pre>
        </section>



         <section id="navbar-notification">
          <h2>{{_i}}Navbar Notifications{{/i}}</h2>
          <p>{{_i}}{{/i}}</p>
          <div class="bs-docs-example" style="background-color: #E5E5E5">

            <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">{{_i}}Title{{/i}}</a>
                  <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav">
                      <li class="active"><a href="#">{{_i}}Home{{/i}}</a></li>
                      <li><a href="#">{{_i}}Link{{/i}}</a></li>
                      <li><a href="#">{{_i}}Link{{/i}}</a></li>
                    </ul>
                    <ul class="nav pull-right">
                      <li class="dropdown dropdown-notification">
                            <a href="#" class="dropdown-toggle btn-notification" data-toggle="dropdown">
                               8
                            </a>
                            <!--<div class="dropdown-menu dropdown-notifications">-->
                               <ul class="dropdown-menu dropdown-notifications">
                                  <li class="header">Notifications</li>
                                  <li>
                                     <span class="title">Notification title</span>
                                     <div class="media">
                                        <a class="pull-left" href="#">
                                           <img class="media-object" data-src="holder.js/48x48/#fff:#444">
                                        </a>
                                        <div class="media-body">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                        </div>
                                     </div>
                                  </li>
                                  <li>
                                     <span class="title"><strong>Notification</strong> title</span>
                                  </li>
                               </ul>
                            <!--</div>-->
                      </li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
          </div>{{! /example }}
<pre class="prettyprint linenums">
&lt;div class="navbar navbar-inverse"&gt;
  ...
&lt;/div&gt;
</pre>
         </section>


      </div>{{! /span9 }}
    </div>{{! row}}
  </div>{{! /.container }}


