<!-- Subhead
================================================== -->
<header class="jumbotron subhead masthead" id="overview">
  <div class="container">
    <h1>Bootplus</h1>
    <p class="lead">{{_i}}Sleek, intuitive, and powerful Google styled front-end framework for faster and easier web development.{{/i}}</p>
  </div>
</header>
<!--<div class="jumbotron masthead">-->
  <!--<div class="container">-->
    <!--<h1>{{_i}}Bootstrap{{/i}}</h1>-->
    <!--<p>{{_i}}Sleek, intuitive, and powerful front-end framework for faster and easier web development.{{/i}}</p>-->
    <!--<p>-->
      <!--<a href="assets/bootstrap.zip" class="btn btn-primary btn-large" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.3.2']);"{{/production}}>{{_i}}Download Bootstrap{{/i}}</a>-->
    <!--</p>-->
    <!--<ul class="masthead-links">-->
      <!--<li>-->
        <!--<a href="http://github.com/twitter/bootstrap" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);"{{/production}}>{{_i}}GitHub project{{/i}}</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="./getting-started.html#examples" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Examples']);"{{/production}}>{{_i}}Examples{{/i}}</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="./extend.html" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Extend']);"{{/production}}>{{_i}}Extend{{/i}}</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--{{_i}}Version 2.3.2{{/i}}-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->

<div class="container">

   <div class="row marketing">

      <div class="span4">

         <div id="card-downloads" class="card">
            <div class="card-heading image">
               <img src="assets/img/logo.png" width="46" height="46" alt=""/>
               <div class="card-heading-header">
                  <h3>DOWNLOAD</h3>
                  <span>Latest version is 1.0.0</span>
               </div>
            </div>
            <div class="card-actions">
               <a class="btn btn-block btn-large btn-primary" href="assets/bootplus.zip">Download package</a>
               <a class="btn btn-block btn-large btn-success" href="https://github.com/aozora/bootplus/archive/master.zip">Download sources</a>
            </div>
         </div>

         <div class="card">
            <div class="card-media">
               <a class="card-media-container" href="#">
                  <img src="assets/img/bs-docs-twitter-github.png" alt="twitter-github"/>
               </a>
            </div>
            <div class="card-body">
               <h2>{{_i}}Built with Bootstrap.{{/i}}</h2>
               <p>{{_i}}Bootplus is built on top of <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a> as a customization that reproduce the most recent Google+ style.{{/i}}</p>
               <p>{{_i}}Bootplus utilizes <a href="http://lesscss.org">LESS CSS</a>, is compiled via <a href="http://nodejs.org">Node</a>, and is managed through <a href="http://github.com">GitHub</a> to help nerds do awesome stuff on the web.{{/i}}</p>
            </div>
         </div>


      </div>

      <div class="span4">
         <div id="card-media" class="card">
            <div class="card-media">
               <div class="card-media-container" href="#">
                  <i class="icon-desktop"></i>
                  <i class="icon-tablet"></i>
                  <i class="icon-mobile-phone"></i>
               </div>
            </div>
            <div class="card-body">
               <h2>{{_i}}Made for everyone.{{/i}}</h2>
               <p>{{_i}}Bootplus was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers via <a href="./scaffolding.html#responsive">responsive CSS</a> as well.{{/i}}</p>
            </div>
         </div>

         <div id="card-features" class="card">
            <div class="card-media-container" href="#">
               <i class="icon-html5"></i>
               <i class="icon-css3"></i>
               <i class="icon-wrench"></i>
            </div>
            {{! <img class="marketing-img" src="assets/img/bs-docs-bootstrap-features.png"> }}
            <div class="card-body">
               <h2>{{_i}}Packed with features.{{/i}}</h2>
               <p>{{_i}}A 12-column responsive <a href="./scaffolding.html#gridSystem">grid</a>, dozens of components, <a href="./javascript.html">JavaScript plugins</a>, typography, form controls, and even a <a href="./customize.html">web-based Customizer</a> to make Bootplus your own.{{/i}}</p>
            </div>
         </div>

      </div>

      <div class="span4">
         <div class="card hovercard pull-right">
            <img src="assets/img/the-simpsons.png" alt=""/>
            <div class="avatar">
               <img src="assets/img/avatar_homer.png" alt="" />
            </div>
            <div class="info">
               <div class="title">
                  <a href="http://www.marcellop.com">Made by<br/>Marcello Palmitessa</a>
               </div>
               <div class="desc">Passionate designer</div>
               <div class="desc">Curious developer</div>
               <div class="desc">Tech geek</div>
            </div>
            <div class="bottom">
               <a href="https://twitter.com/aozoralabs" class="btn">
                  <i class="icon-twitter"></i>
                  Follow
               </a>
            </div>
         </div>
      </div>

   </div>{{! /.marketing }}

</div>{{! /.container }}
