//
// Navs
// --------------------------------------------------

// NAV LIST
// --------
.nav-list {
   background-color: #f5f5f5;
   border-bottom: 1px solid #d5d5d5;
}

.nav-list > li > a,
.nav-list .nav-header {

   .transition(border .218s);
   background-color: @white;
   border-left: 2px solid transparent;
   color: #737373;
   margin-top: 1px;
   padding: 9px 18px;

  text-shadow: none;
}
